body {
    background-color: #EEF0F4;
}

.neumo-inset {
    background: #EEF0F4;
    border-radius: 100%;
    box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
}

.neumo {
    background: #EEF0F4;
    border-radius: 100%;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.neumo-concave {
    background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
    border-radius: 100%;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.neumo-concave-inset {
    background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
    border-radius: 100%;
    box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
}

button {
    height: 150px;
    width: 150px;
    border: none;
}