.menu {
    position: fixed;
    width: 130px;
    height: 100%;
    background-color: #D0D8ED;
}

.content {
    position: fixed;
    background-color: #E4EAF8;
    left: 130px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 15px #CFD5E2, -10px -10px 15px #F9FFFF;
    border-top-left-radius: 60px;
}

.button-layout {
    margin-left: 32px;
    margin-top: 150px;
}

.connect {
    position: fixed;
    bottom: 0;
    margin-left: 9px;
}